<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
</head>
    <body>
        <div class = "six"><h1><span>HELP</span></h1><table class = "tab-cent" align="right">
            <tr>
                <th>
                    <h4 class = "style_h4">Sing in the subway </h4>
                </th>
                <th>
                    <h4 class = "style_h4">Sleep</h4>
                </th>
            </tr>
            <tr>
                <td>
                   <div class = "p_help"; style="color:#D2691E;">+1 Happiness</div>
                    <div class = "p_help"; style="color:#000080;">+10 Mana</div>
                    <div class = "p_help"; style="color:#00FF00;">+$10 (+ $ 50 more if initially mana was > 40 & <70 ) </div>
                    <div class = "p_help"; style="color:#8B4513;">+20 Fatigue</div>
                </td>
                <td>
                   <div class = "p_help"; style="color:#FF0000;">+90 Health (if mana was < 30)</div>
                    <div class = "p_help"; style="color:#D2691E;">-3 Happiness</div>
                    <div class = "p_help"; style="color:#000080;">-50 Mana </div>
                    <div class = "p_help"; style="color:#8B4513;">-70 Fatigue</div>
                </td>
        </table></div>

        <table>
        <tr>
            <th>
                <h4 class = "style_h4">Go to job</h4><h6 class = "style_h6">Condition: Only possible if mana <50 and fatigue <10 </h6> 
            </th>
            <th>
                <h4 class = "style_h4">Contemplate nature </h4>
            </th>
            <th>
                <h4 class = "style_h4">Drink wine and watch TV series </h4>
            </th>
            <th>
                <h4 class = "style_h4">Go to a bar </h4>
            </th>
            <th>
                <h4 class = "style_h4">Drink with marginal people</h4><h6 class = "style_h6">Condition: If the money is not > 1500 </h6>
            </th>

        </tr>

        <tr>
            <td> 
                <div class = "p_help"; style="color:#D2691E;">-5 Happiness</div>
                <div class = "p_help"; style="color:#000080;">-30 Mana</div>
                <div class = "p_help"; style="color:#00FF00;">+$100</div>
                <div class = "p_help"; style="color:#8B4513;">+70 Fatigue</div>
            </td>
            <td>
                <div class = "p_help"; style="color:#D2691E;">+1 Happiness</div>
                <div class = "p_help"; style="color:#000080;">-10 Mana</div>
            <div class = "p_help"; style="color:#8B4513;">+10 Fatigue</div>
            </td>
            <td>
                <div class = "p_help"; style="color:#D2691E;">+1 Happiness</div>
                <div class = "p_help"; style="color:#000080;">+30 Mana</div>
                <div class = "p_help"; style="color:#8B4513;">+10 Fatigue</div>
                <div class = "p_help"; style="color:#FF0000;">-5 Health</div>
                <div class = "p_help"; style="color:#00FF00;">-$20</div>
            </td>
            <td>
               <div class = "p_help"; style="color:#D2691E;">+2 Happiness</div>
                <div class = "p_help"; style="color:#000080;">+60 Mana</div>
                <div class = "p_help"; style="color:#8B4513;">+40 Fatigue</div>
                <div class = "p_help"; style="color:#FF0000;">-10 Health</div>
                <div class = "p_help"; style="color:#00FF00;">-$100</div>
            </td>
            <td>
                <div class = "p_help"; style="color:#D2691E;">+5 Happiness</div>
                <div class = "p_help"; style="color:#FF0000;">-80 Health</div>
                <div class = "p_help"; style="color:#000080;">+90 Mana</div>
                <div class = "p_help"; style="color:#8B4513;">+80 Fatigue</div>
                <div class = "p_help"; style="color:#00FF00;">-$150</div>
            </td>
        </tr> 
        </table>
        <br>
        <hr border = 5px>
        <h1 align = "center">Description of the game</h1>
        <p class = "descp" align = "center"> Meet Valera, he is good-natured, clumsy and gets into the strangest situations.</p>
        <p class = "descp"> As one person said: "I have a dream...". Valera also has one. He dreams of his first car. Help Valera make his dream come true.</p>
        <p class = "descp">Goal: save 50,000 rubles for a car.</p>

    </body>
</html>
