<% name = current_user.present? ? current_user.name : 'Stranger'%>
<h1 align="center" class="greetings">VALERA</h1>
<h2 align="center">BEST GAME EVER</h2>
<h3 align="center">Welcome, <%= name %></h3>
<% if user_signed_in? %>
	<h3 align="center"> 
		<button class="nav-item">
			<%= link_to "Game", game_path, class:'nav-link'%>
		</button>
	</h3>
<%else%>
	<h3 align="center"> 
		<button class="nav-item">
			<%= link_to "Please, sign in to play", new_user_session_path, class:'nav-link'%>
		</button>
	</h3>
<% end %>

