.p_help {
  text-align: left;
  font-size: 12pt;
  left: 200px;
  right: 20px;
  margin-left: 20px;
}
.style_h4 {
  color: #000000; 
  font-family: ‘Droid serif’, serif;
  font-size: 28px;
  font-weight: 400; font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px;
  margin-bottom: 2px; 
  text-align: center; 
  font-weight: bolder;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
      #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
      #cad5e2 5px 5px 0;
}
.style_h6 {
  color: #B22222; 
  font-family: ‘Droid serif’, serif;
  font-size: 14px;
  font-weight: 400; font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px; 
  text-align: center; 
}
table {
  border: 1px solid #808080;
  margin-top: 100px;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 30px;
  width: 1475px;
}

th {
  border: 3px solid #808080;
  left: 20px;
  right: 20px;
}

td {
  border: 3px solid #808080;
  left: 200px;
  right: 20px;
}
.six {
  text-align: left;
  margin-left: 200px;
  margin-top: 100px;
  right: 1500px;
}
.six h1 {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
  color: #000000;
  font-size: 64px;
  padding: .4em 1em .55em;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
              #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
              #cad5e2 5px 5px 0;
}
.six h1:before,
.six h1:after {
  content: ""; 
  position: absolute;
  width: 60%;
  height: .1em;
  background: #000000; 
}
.six h1:before {
  left: 0;
  top: 0;
}
.six h1:after {
  right: 0;
  bottom: 0;
}
.six h1 span:before,
.six h1 span:after {
  content: ""; 
  position: absolute;
  width: .65em;
  height: .65em;
  border: .1em solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}
.six h1 span:before {
  top: -.55em;
  left: -.325em;
}
.six h1 span:after {
  bottom: -.55em;
  right: -.325em;
}
.tab-cent {
  width: 700px;
  border: 1px solid #000;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
}
.descp {
  text-align: left;
  color: #000000;
  text-indent: 25px;
  margin-left: 20px;
  font-size: 18pt;
  text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
              #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
              #cad5e2 5px 5px 0;
}
.back {
  margin-left: 25px;
  margin-bottom: 30px;
  font-size: 20px;
}