<p align="center">Welcome <%= @email %>!</p>

<p align="center">You can confirm your account email through the link below:</p>

<p align="center"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
