<p align="center">Hello <%= @resource.email %>!</p>

<p align="center">Someone has requested a link to change your password. You can do this through the link below.</p>

<p align="center"><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p align="center">If you didn't request this, please ignore this email.</p>
<p align="center">Your password won't change until you access the link above and create a new one.</p>
